# Multiple linear regression

Exploring multiple linear regression following pace with the penguins dataset on seaborn

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
# loading the penguins dataset 
penguins = sns.load_dataset("penguins", cache=False) #if true

#exploring how our data looks like 
penguins.head(10)

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female
5,Adelie,Torgersen,39.3,20.6,190.0,3650.0,Male
6,Adelie,Torgersen,38.9,17.8,181.0,3625.0,Female
7,Adelie,Torgersen,39.2,19.6,195.0,4675.0,Male
8,Adelie,Torgersen,34.1,18.1,193.0,3475.0,NaN
9,Adelie,Torgersen,42.0,20.2,190.0,4250.0,NaN

In [4]:
# for this model we are working with body_mass_g, bill_length_mm, sex, species columns(features) of our dataset

#extracting these features 
penguins = penguins[["body_mass_g", "bill_length_mm", "sex", "species"]]

#renaming the columns
penguins.columns = ["body_mass_g", "bill_length_mm", "gender", "species"] # changed the name of our columns

#Drop rows with missing values
# dropna() function by default removes any rows with any missing values in any of the columns.
penguins.dropna(inplace=True) #inplace - whether to modify the datafram or creating a new one

# Reseting index
"""""
The reset_index() function resets the index values for the rows in the dataframe. 
Typically, you use reset_index() after you've finished manipulating the dataset. 
By setting inplace=True, you will not create a new DataFrame object. By setting drop=True, 
you will not insert a new index column into the DataFrame object.
"""
penguins.reset_index(inplace=True, drop=True)

In [5]:
# Eximining first 5 rows of the data 
penguins.head()

   body_mass_g  bill_length_mm  gender species
0       3750.0            39.1    Male  Adelie
1       3800.0            39.5  Female  Adelie
2       3250.0            40.3  Female  Adelie
3       3450.0            36.7  Female  Adelie
4       3650.0            39.3    Male  Adelie

### Creating a holdout sample

creating this hold out sample to better test my regression models,
1. subsetting my x and y variables 
2. importing sci-kit learn and using a function.

In [7]:
# subseting X and Y variables 
penguins_X = penguins[["bill_length_mm", "gender", "species"]]
penguins_Y = penguins[["body_mass_g"]]