## Analyzing the Chinstrap Penguins

In [4]:
#importing the correct pacakges
import pandas as pd
import seaborn as sns

#loading dataset 
penguins = sns.load_dataset("Penguins")

#Examining the first 5 rows
penguins.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE

In [7]:
# Checking out how many species of Penguins there are 
print(penguins["species"].unique())

['Adelie' 'Chinstrap' 'Gentoo']

In [11]:
# isolating the "Chinstrap" penguin species
chinstrap_penguins =penguins[penguins["species"] ==  "Chinstrap"]

# reseting the indexes of the chinstrap penguins
# .reset index method takes in two arguments inplace = boolean(True) and drop = boolean (True)
chinstrap_penguins.reset_index(inplace=True, drop=True)
chinstrap_penguins.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Chinstrap,Dream,46.5,17.9,192.0,3500.0,FEMALE
1,Chinstrap,Dream,50.0,19.5,196.0,3900.0,MALE
2,Chinstrap,Dream,51.3,19.2,193.0,3650.0,MALE
3,Chinstrap,Dream,45.4,18.7,188.0,3525.0,FEMALE
4,Chinstrap,Dream,52.7,19.8,197.0,3725.0,MALE