## Analyzing the Chinstrap Penguins

In [4]:
#importing the correct pacakges
import pandas as pd
import seaborn as sns

#loading dataset 
penguins = sns.load_dataset("Penguins")

#Examining the first 5 rows
penguins.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE

In [7]:
# Checking out how many species of Penguins there are 
print(penguins["species"].unique())

['Adelie' 'Chinstrap' 'Gentoo']

In [11]:
# isolating the "Chinstrap" penguin species
chinstrap_penguins =penguins[penguins["species"] ==  "Chinstrap"]

# reseting the indexes of the chinstrap penguins
# .reset index method takes in two arguments inplace = boolean(True) and drop = boolean (True)
chinstrap_penguins.reset_index(inplace=True, drop=True)
chinstrap_penguins.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Chinstrap,Dream,46.5,17.9,192.0,3500.0,FEMALE
1,Chinstrap,Dream,50.0,19.5,196.0,3900.0,MALE
2,Chinstrap,Dream,51.3,19.2,193.0,3650.0,MALE
3,Chinstrap,Dream,45.4,18.7,188.0,3525.0,FEMALE
4,Chinstrap,Dream,52.7,19.8,197.0,3725.0,MALE

In [13]:
# looking at the shape of the data 
chinstrap_penguins.shape

(68, 7)

In [14]:
# Settin up the model for construction 
# isolate the dependent and independent variables 
# we want to access bill_depth_mm and flipper_length_mm
ols_data = chinstrap_penguins[["bill_length_mm", "flipper_length_mm"]]

In [17]:
# we are going to use the statsmodels library for our analysis
# we need to write a formula using these variables remember y always on the left side 
# y - dependent variable, x - independent variable
ols_formula = "flipper_length_mm ~ bill_length_mm"

In [18]:
# constructing the model 
from statsmodels.formula.api import ols

#Building OLS and fitting model to data 
OLS = ols(formula=ols_formula, data=ols_data)
model = OLS.fit()
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:      flipper_length_mm   R-squared:                       0.222
Model:                            OLS   Adj. R-squared:                  0.211
Method:                 Least Squares   F-statistic:                     18.88
Date:                Tue, 11 Nov 2025   Prob (F-statistic):           4.92e-05
Time:                        15:26:24   Log-Likelihood:                -221.02
No. Observations:                  68   AIC:                             446.0
Df Residuals:                      66   BIC:                             450.5
Df Model:                           1
Covariance Type:            nonrobust
==================================================================================
                     coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------
Intercept        146.6358     11.347     12.923      0.000     123.981     169.291
bill_length_mm     1.0072      0.232      4.345      0.000       0.544       1.470
==============================================================================
Omnibus:                       12.053   Durbin-Watson:                   2.242
Prob(Omnibus):                  0.002   Jarque-Bera (JB):               23.973
Skew:                          -0.495   Prob(JB):                     6.23e-06
Kurtosis:                       5.735   Cond. No.                         723.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [ ]:
# making model predictions and redisuals