In [1]:
# making the necessay imports 
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
#firing up the file and displaying some observations 
sample_c = pd.read_excel("Sample_C.xlsx", sheet_name="Data")

#firing up the firt 5 observations 
sample_c.head()

   Gender  Age  Survival
0       0   23         0
1       1   40         1
2       0   40         1
3       0   30         0
4       0   28         0