In [3]:
# Importing the necessary libraries 
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm
from statsmodels.formula.api import ols

In [7]:
# loading  the data frame for analysis 
marketing_data = pd.read_csv("marketing_data.csv")

#displaying the firt 10 items 
marketing_data.head(10)

       TV      Radio  Social Media Influencer       Sales
0     Low   1.218354      1.270444      Micro   90.054222
1  Medium  14.949791      0.274451      Macro  222.741668
2     Low  10.377258      0.061984       Mega  102.774790
3    High  26.469274      7.070945      Micro  328.239378
4    High  36.876302      7.618605       Mega  351.807328
5    High  25.561910      5.459718      Micro  261.966812
6    High  37.263819      6.886535       Nano  349.861575
7     Low  13.187256      2.766352      Macro  140.415286
8    High  29.520170      2.333157       Nano  264.592233
9     Low   3.773287      0.135074       Nano   55.674214

In [ ]:
#  checking the different budgets for TV 
print(marketing_data["TV"].unique())

['Low' 'Medium' 'High' nan]

In [9]:
# checking the different influencer collaborations
print(marketing_data["Influencer"].unique())

['Micro' 'Macro' 'Mega' 'Nano']

In [ ]:
# checking out the dimensions of the marekting_data set 
marketing_data.shape

(572, 5)

In [ ]:
# noticed that there are NaN types in the data 
# let us check for missing values in the data 
marketing_data.isna() # here we get a boolean representation of data 
#if it is NAN it will result true if not it will result to false

        TV  Radio  Social Media  Influencer  Sales
0    False  False         False       False  False
1    False  False         False       False  False
2    False  False         False       False  False
3    False  False         False       False  False
4    False  False         False       False  False
..     ...    ...           ...         ...    ...
567  False  False         False       False  False
568  False  False         False       False  False
569  False  False         False       False  False
570  False  False         False       False  False
571  False  False         False       False  False

[572 rows x 5 columns]

In [13]:
# Step 1. Start with .isna() to get booleans indicating whether each value in the data is missing 
# Step 2. ;Use .any(axis=1) to get booleans indicating whether there are any missing values along the columns each row

marketing_data.isna().any(axis=1)

0      False
1      False
2      False
3      False
4      False
       ...
567    False
568    False
569    False
570    False
571    False
Length: 572, dtype: bool

In [ ]:
# Using the  .sum() method to get the number of rows that contain missing values 
marketing_data.isna().any(axis=1).sum()

np.int64(3)

In [19]:
# dropping the rows that contain missing values
marketing_data = marketing_data.dropna(axis=0)

In [20]:
# rechecking to make sure that the data does not contain any more missing values 
marketing_data.isna().any(axis=1).sum()

np.int64(0)

In [ ]:
#Cheking model assumptions 
# 1. linearity, 2. Normality, 3. Independent variable, 4. Homoscedasticity