In [1]:
#importing the necessary packages 
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt
from statsmodels.formula.api import ols

In [3]:
# loading the dataset 
marketing_data = pd.read_csv("marketing_data.csv")

#display data 
marketing_data.head(10)

       TV      Radio  Social Media Influencer       Sales
0     Low   1.218354      1.270444      Micro   90.054222
1  Medium  14.949791      0.274451      Macro  222.741668
2     Low  10.377258      0.061984       Mega  102.774790
3    High  26.469274      7.070945      Micro  328.239378
4    High  36.876302      7.618605       Mega  351.807328
5    High  25.561910      5.459718      Micro  261.966812
6    High  37.263819      6.886535       Nano  349.861575
7     Low  13.187256      2.766352      Macro  140.415286
8    High  29.520170      2.333157       Nano  264.592233
9     Low   3.773287      0.135074       Nano   55.674214